
input {
    text-align: center;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    height: 18px;
    width: 280px;
    font-size: bold;
    padding: 6px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 10px;
}